@charset "UTF-8";
/* CSS dokument */
p {
  color: rgb(139,0,0);
  font-family:sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 550px;
  background-color: antiquewhite;
  padding: 20px;
}
h2,ol,ul {
  font-family:sans-serif;
  color:rgb(139,0,0);
}
h1 {color:rgb(139,0,0);}
body {
  background-image: url("slike2/pozadina.jpg");
  background-color: lightpink;
  background-size: cover;
}
h3 {
font-family: sans-serif;
color: rgb(139,0,0);
}
a href {
  color: rgb(139,0,0);
}
a:hover {
  background-color: darkgrey;
}
img {
  height: 300px;
}
